# LETSUPGRADE PYTHON ESSENTIALS DAY 2 ASSIGNMENT

In [2]:
print("Hello\
      python")

Hello      python

three ways of using triple quote """

# Use of Triple quotes in Ascii drawings

In [64]:
 print(""" 
 (ಠ_ಠ)
""")

(ಠ_ಠ)

Triple quotes can be used to print Doc strings and also perform sql queries

In [3]:
print('python's world')

SyntaxError: invalid syntax (<ipython-input-3-3f3d487a621e>, line 1)

In [4]:
print('python\'s world')

python's world

Escape sequences - \t \n  \

Escape sequence \a produces a sound when executed in command prompt

# Formatted output

In [5]:
name = "Sundar"
marks = 87.57
age = 20
print("Person name is ", name, "marks is",marks,"of age",age)

Person name is  Sundar marks is 87.57 of age 20

In [6]:
print("Person name is %s marks is %f of age %d"%(name,marks,age))

Person name is Sundar marks is 87.570000 of age 20

In [7]:
print("Person name is %10s marks is %10.3f of age %10d"%(name,marks,age))

Person name is     Sundar marks is     87.570 of age         20

In [8]:
print(f"Person name is {name} marks is {marks} of age {age}") # fstring from version python 3.4

Person name is Sundar marks is 87.57 of age 20

# Variables

In [9]:
_10=6

In [10]:
_10

6

'_' Underscore can be used as a variable

Variables can't be started with digits

In [11]:
x = 20
id(x)

140713040782320

id(x) gives the RAM address

In [12]:
 y = 20
id(y)

140713040782320

Both x and y have value 20 but in other languages they get stored at different addresses
But in python if any assigned value to avariable is already existing in the memory then new memory is not created  to store the same value in diff areas of memory
Python interpreter assigns the new variable to point  to same address

In [13]:
x

20

In [14]:
y

20

In [15]:
del x

In [16]:
x

NameError: name 'x' is not defined

In [17]:
y

20

In [18]:
del y

In [19]:
y

NameError: name 'y' is not defined

In [20]:
z = 20

In [21]:
id(z)

140713040782320

Even though x and y got deleted only the variables link to value is disconnected but the value still exists
when we refer a new variable z again to the same value 20, z gets linked to the address where 20 is already existing
therefore id(z) shows the same address of memory

# Operators

In [22]:
10/2

5.0

int/int gives float

In [23]:
10//3

3

Comparison operators always return boolean values

In [24]:
a=2
b=4
a==b

False

In [25]:
a!=b

True

In [27]:
print(a=!b)

SyntaxError: invalid syntax (<ipython-input-27-f261e2ab0a23>, line 1)

In [28]:
a|b

TypeError: unsupported operand type(s) for |: 'SList' and 'int'

In [29]:
a
b

4

In [30]:
a

["'b' is not recognized as an internal or external command,",
 'operable program or batch file.']

In [31]:
a

["'b' is not recognized as an internal or external command,",
 'operable program or batch file.']

In [32]:
a = 240
b=1
a|b

241

In [33]:
id(a)

140713040789360

In [34]:
a = 3
a|b

3

In [35]:
b

1

In [36]:
id(a)

140713040781776

In [37]:
a&b

1

In [38]:
bin(a|b)

'0b11'

In [39]:
bin(a&b)

'0b1'

In [40]:
S

NameError: name 'S' is not defined

In [41]:
10>9 and 20>S

NameError: name 'S' is not defined

In [42]:
10<9 and 20>S

False

in and operation , false and sth is always false
therefore if first one is false output is always false

In [43]:
not(10<9)

True

# Membership  operator

In [44]:
str1 = "Python coding"
"a" in str1

False

In [45]:
"o" in str1

True

In [46]:
"a" not in str1

True

# Identity Operator

In [47]:
a=10
b=10
a==b

True

In [48]:
a is b

True

In [49]:
id(a)

140713040782000

In [50]:
id(b)

140713040782000

a and b have samde address therefore a is b returns true

In [51]:
x =1.5

In [52]:
y=1.5
x==y

True

In [53]:
x is y

False

In [54]:
a =257

In [55]:
b = 257

In [56]:
a == b

True

In [57]:
a is b

False

In [58]:
type(a)

int

operators precedence important
datatypes range of inputs

if int values are in range of -5 to 256 python interpreter allocates all variables to same address
else diff addresses

In [59]:
10>8>9

False

10>8 and 8>9